*.erl linguist-language=Erlang
*.hrl linguist-language=Erlang
*.erl linguist-detectable=true
*.hrl linguist-detectable=true

*.java linguist-detectable=false
*.html linguist-detectable=false
*.js linguist-detectable=false
